<div class="container jusitfy-content-center pt-5 mt-5">
  <div class="login card p-4 ">
    <div class="card-body">
      <h1 class="text-center mb-5 ">Add new user form</h1>
      <form class="form-row">
        <div class="form-group col-12">
          <label class="sr-only" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group col-12">
          <label class="sr-only" for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-12">
          <label class="sr-only" for="age">Age</label>
            <input type="number" class="form-control" id="age" placeholder="Age" formControlName="age">
        </div>
        <div class="form-group col-12">
          <label class="sr-only" for="adress">Adress</label>
            <input type="text" class="form-control" id="adress" placeholder="Adress" formControlName="adress">
        </div>
        <div class="form-group col-12">
          <label class="sr-only" for="phone">Phone Number</label>
            <input type="number" class="form-control" id="phone" placeholder="Phone Number" formControlName="phone">
        </div>
        <div class="form-group mb-0 col-12 text-center">
          <button type="button"  class="btn btn-primary">Add User</button>
        </div>
      </form>
    </div>
  </div>
</div>
