.user-list{
  padding: 70px 170px;
  h1{
    margin-bottom: 50px;
  }
}

.card {
  padding: 100px 0;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%) !important;
  img{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
